.row{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.col, .col-2, .col-3{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(19, 129, 133);
    margin: 2%;
}

.col{
    flex:1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

